body {
    background-color: #F8EDC7;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 0;
}


#home {
padding-left: 2vh;
padding-top: 2vh;
}


h1 {
font-family: Kranky;
font-size: 5.5rem; 
padding-top: -200vh;
}


h2 {
font-family: Rethink Sans;
font-size: 2rem;
margin-bottom: 4vh;
}

/* Container für die übereinanderliegenden Wellenbilder */
#bilder {
    display: flex;
    height: 500px;
}

/* Übereinander liegende und leicht versetzte Wellenbilder */
#bilder img {
    position: absolute;
    width: 100%;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

/* Erste Welle */
#bilder img:nth-child(1) {
    top: -100px;
    z-index: 1;
}

/* Zweite Welle */
#bilder img:nth-child(2) {
    top: -98px;
    z-index: 2;
}

/* Dritte Welle */
#bilder img:nth-child(3) {
    top: -96px;
    z-index: 3;
}

/* Vierte Welle */
#bilder img:nth-child(4) {
    top: -94px;
    z-index: 4;
}

#bigtext {
    position: relative;
    font-size: 4vh;
    text-align: center;
    z-index: 10;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: -3rem;
    margin: 10px;
}


#hauttyp {
    position: relative;
    font-size: 8vh;
    padding-left: 2rem;
    padding-right: 2rem; 
    margin: 100px; /* margin-top erhöht */
    padding-bottom: -10vh;
    font-family: Kranky;
}


#textbox {
    position: relative;
    text-align: center;
    z-index: 10;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 20rem;
    margin: 50px;
}

#gradient1 {
    background-image: url(grafiken/Rectangle_6.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    padding-top: 10vh;
    
}

#sunbernverhindern {
    z-index: 10;
    text-align: center;
    margin-top: -30rem;
    padding-top: 100vh;
    font-family: Rethink Sans;
    z-index: 20;
}

#sunbernverhindern-text {
    background-image: url(grafiken/Rectangle_6.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: -25vh;
    padding-bottom: 20vh;
    
}

#sunbernverhindern p {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 2rem;
    
}

#sunbernverhindern h3 {
    font-family: Kranky;
    font-size: 4rem;
    padding-top: 30vh;
}


/* Container für die Karte mit dem Pfad */
#map-container {
    position: relative;
    width: 60%;
    height: 10%;
    display: flex;
    justify-content: center;
    z-index: 12;
    top: 20%;
    margin: auto; 
    flex-direction: column;
    align-items: center;
    font-family: Rethink Sans;


}

#map {
    width: 100%;
    height: auto;
    z-index: 12;
    position: relative;
}

#wegetext {
    position: relative;
    font-size: 8vh;
    text-align: center;
    z-index: 10;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: -8rem;
    padding-bottom: 3rem;
    margin: 50px;
    font-family: Kranky;

}


#Wege {
 padding-bottom: 10vh;
 padding-top: 6vh;
}


.map-point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.map-point_point-1 {
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, -50%); 

}


.map-point_point-1 p {
    top: 14%;
    left: 58%;
    transform: translate(-50%, -50%); 
    font-family: Rethink Sans;
    color: #000000;
}

.map-point_point-2 {
    position: absolute;
    top: 18%;
    left: 49%;
    transform: translate(-50%, -50%); 

}

.map-point_point-2  p{
    top: 24%;
    left: 60%;
    transform: translate(-50%, -50%); 
    font-family: Rethink Sans;
    color: #000000;
}

.map-point_point-3 {
    position: absolute;
    top: 75%;
    left: 47%;
    transform: translate(-50%, -50%); 

}

.map-point_point-4 {
    position: absolute;
    top: 103%;
    left: 46%;
    transform: translate(-50%, -50%); 
}

.map-point img {
    width: 42px;
    height: 41px;
} 

/* Add hover effects if needed */
.map-point:hover svg {
    transform: scale(1.1);
}

/* Slider container */
.slider-container {
    position: relative;
    text-align: center;
    font-family: Rethink Sans;
    align-items: center;
    padding-top: 8vh;
    padding-bottom: 16vh;
    justify-content: center;  
    background-image: url(grafiken/Rectangle_3.png);
   
}


.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 1200px;
    height: 50px;
    background: linear-gradient(to right, #F2DDC4 0%, #3C1F01 100%);
    outline: none;
    opacity: 0.9;
    border-radius: 25px;
    margin-bottom: 20px;
    justify-content: center;
    
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 50%;
    cursor: pointer;
}

.spacer {
    height: 18vh; /* Adjust this value to fit your spacing needs */
    background: transparent; /* Make sure this doesn't interfere with your layout */
}

.labels {
    display: flex;
    justify-content: center;
    margin-left: 18vh;
    margin-right: 18vh;
    margin-top: 3vh;
    margin-bottom: 6vh;
    font-family: Rethinks Sans;
    
}

.label {
    text-align: center;
    font-size: 1rem;
    width: 13%;
    font-family: 'Rethink Sans';
    
}

.divider {
    width: 10px;
    height: 35px;
    background-color: #616161;
    margin: 0 10px;
    border-radius: 10px;
}

#calculateBtn {
    background-color: #F5A36B;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 25px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 20px;
    font-family: 'Rethink Sans';
    font-weight: bold;
    width: 250px;

}

#calculateBtn:hover {
    background-color: #EC7E32;
}

#resultatcreme {
    display: flex;
    justify-content: center; /* Zentriert das Bild horizontal */
    align-items: center; /* Zentriert das Bild vertikal */
    width: 100vw; /* Nimmt die volle Breite des Bildschirms */
    height: 100vh; /* Passt die Höhe an die volle Höhe des Bildschirms an */
    box-sizing: border-box;
}

#resultatcreme img {
    max-width: 85vh; /* Bild passt sich an die Höhe des Bildschirms an */
    max-height: 100%; /* Verhindert, dass das Bild die Höhe übersteigt */
    height: auto; /* Bewahrt das Seitenverhältnis */
    width: auto; /* Bewahrt das Seitenverhältnis */
}
#result {
    position: absolute;
    font-size: 6vh;
    text-align: center;
    z-index: 10;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 102vh;
    margin: 50px;
    font-family: Kranky;
    padding-top: -vh;

}

#resultatcreme {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    position: relative; /* Make the container a relative parent for absolute positioning */
}

#resultatcreme img {
    max-width: 85vh; /* Ensure the image scales well */
    max-height: 100%;
    height: auto;
    width: auto;
    position: relative;
    z-index: 1; /* Ensure the bottle image is beneath the text */
}

#cremeSPF {
    position: absolute;
    top: 55%; /* Adjust this value to perfectly place the text on the bottle */
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 5rem; /* Adjust size as needed */
    font-weight: bold;
    z-index: 2; /* Ensure the text is above the image */
    padding: 10px;
    border-radius: 10px; /* Optional: rounded background */
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
    font-family: Kranky;

}

.waves {
    position: absolute; /* Absolute Positionierung */
    width: 100%;
    height: 150vh; /* Full height of the viewport */
    overflow: hidden;
    top: 0; /* Sicherstellen, dass die Wellen oben beginnen */
    z-index: 5;
}

.wave {
    position: absolute;
    width: 100%; /* Wellenbreite ist 100%, keine doppelte Breite */
    height: 100%;
    top: 0;
    background-repeat: no-repeat; /* Keine Wiederholung der Wellen */
    background-size: 100% auto; /* Die Welle passt sich der Breite an und behält ihr Verhältnis */
    opacity: 0.7;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.wave1 {
    background-image: url('grafiken/welle1.png');
    z-index: 1;
    opacity: 100%;
    animation: wave-sway 3s ease-in-out infinite; /* Schnelle Bewegung */
}

.wave2 {
    background-image: url('grafiken/welle2.png');
    z-index: 2;
    opacity: 100%;
    animation: wave-sway 4s ease-in-out infinite; /* Mittelschnelle Bewegung */
}

.wave3 {
    background-image: url('grafiken/welle3.png');
    z-index: 3;
    opacity: 100%;
    animation: wave-sway 2.5s ease-in-out infinite; /* Schnellste Bewegung */
}

.wave4 {
    background-image: url('grafiken/welle4.png');
    z-index: 4;
    opacity: 100%;
    animation: wave-sway 5s ease-in-out infinite; /* Langsamste Bewegung */
}

@keyframes wave-sway {
    0%, 100% {
        transform: translateY(0); /* Anfang und Ende an der gleichen Position */
    }
    50% {
        transform: translateY(15px); /* Leichte Aufwärtsbewegung (15px) */
    }
}   

#yesterdayUVIndexDisplay p {
font-family: Rethink Sans;
font-size: 2rem;
justify-content: center;
text-align: center;
}



#spfverstehen {
 background-image: url(grafiken/Rectangle_1.png);
 position: absolute;
 z-index: 15;
 padding-bottom: 10vh;

}


#spfverstehen p {
font-family: Rethink Sans;
font-size: 2rem;
text-align: center;
margin-left: 10vh;
margin-right: 10vh;
margin-top: 0vh;

}

#spfverstehen h3 {
font-family: Kranky;
font-size: 4rem;
text-align: center;
padding-top: 10vh;
}


#cremewellen {
position: absolute;
z-index: 10;
}

/* Hover effect for enlarging the text */
h1:hover, #sunbernverhindern h3:hover {
    transform: scale(1.1); /* Increase the size slightly */
    transition: transform 0.3s ease; /* Smooth transition */
    cursor: pointer; /* Change the cursor to pointer */
}



/* Extra small screens (max-width: 480px) */
@media screen and (max-width: 480px) {

    h1 {
        font-size: 2rem; /* Further reduce the font size */
        padding-top: 0;
        text-align: center;
    }

    h2 {
        font-size: 1.2rem; /* Smaller font size */
        margin-bottom: 2vh;
        text-align: center;
    }

    #hauttyp {
        font-size: 4vh; /* Adjusted font size */
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 10px;
        padding-bottom: 2rem;
    }

    .slider-container {
        padding: 3vh 0;
        width: 100%; /* Full-width slider container */
    }

    .slider {
        width: 100%; /* Full-width slider */
        height: 35px; /* Reduced height for smaller screens */
        
    }

    .slider-hauttyp {
        font-size: 1vh;

    }

    #wegetext {
    font-size: 4vh;
    }

    #Wege {
     padding-top: 0;

    }

    #mySlider {
        padding-left: 5vh;        /* Optional: Padding innen */
        padding-right: 5vh;       /* Optional: Padding innen */
        width: 90%;                /* Setzen Sie die Breite auf 90% */
        height: 25px;              /* Setzen Sie die Höhe auf 45px */
        margin: 0 auto;           /* Zentriert den Slider innerhalb seines Containers */
        max-width: 400px;         /* Setzen Sie eine maximale Breite für den Slider */
        box-sizing: border-box;    /* Stellen Sie sicher, dass Padding und Border zur Breite zählen */
    }

    .label {
        font-size: 0.5rem; /* Reduce label size */
    }


    .divider {
        width: 5px; /* Adjust divider width */


    }


    #calculateBtn {
        width: 30%;
        font-size: 0.7rem; /* Smaller font size */
        padding: 10px; /* Adjust padding */
        margin: 0 auto;
    }

    #resultatcreme {
 
        margin: 10px 0;
        padding: 5px 0;


    }


    #resultatcreme img {
        max-width: 75vw; /* Adjust image size */
        max-height: 50vh;
    }

    #cremeSPF {
        font-size: 2.5rem; /* Further reduce text size */
        padding: 0 10px;
        text-align: center;
    }

    #sunbernverhindern {
        padding-top: 0;
        padding-bottom: 0; 
    }

    .map-point {
        width: 15px;         /* Kleinere Größe für mobile Ansichten */
        height: 15px;        /* Kleinere Höhe für mobile Ansichten */
    }

    .map-point img {
        width: 100%;         /* Weiterhin 100% der Containerbreite */
        height: auto;        /* Höhe anpassen */
    }

    .map-point_point-3 {
        top: 77%;
        left: 45%;
        transform: translate(-50%, -50%); 
    }

    .map-point_point-4 {
        top: 103%;
        left: 40%;
        transform: translate(-50%, -50%); 
    }


    #sunbernverhindern-text {

        padding-top: 0;
        padding-bottom: 3vh;
    }
    #sunbernverhindern-text h3 {
    font-size: 2rem;

    }

    #sunbernverhindern-text p {
    font-size: 1rem;
    
    }

    #yesterdayUVIndexDisplay p {
    font-size: 1.5rem;

    }

    #cremeSPF {

    font-size: 2rem;
    padding-bottom: 10vh;

    }

    #result {
    margin-top: 14vh;
    margin-bottom: 0vh;

    }

    .spacer {
        height: 1vh;
    }

    #result p {
        font-size: 2rem;
        padding-bottom: 3vh;
        
        
        }

    #spfverstehen {

    padding-top: -15vh;


    }

    #spfverstehen h3 {

    font-size: 2rem;
    padding-top: -50vh;
    margin-top: -3vh;

    }

    #spfverstehen p {

        font-size: 1rem;
        
        }


    .waves {
        height: 100vh; /* Full height of the viewport */
        margin-top: 0; /* Adjust top margin */
        z-index: 5;
        padding-bottom: -8vh;

    }

    #home img {

    padding-left: 1vh;
    max-width: 12vw;
    max-height: 8vh;
    width: auto;
    height: auto;

    }

    #sunbernverhindern {
        padding-top: 60vh;

    }

    #bigtext {
        margin-right: 0;
        padding-bottom: -12vh;



    }


}


/* iPads and larger phones */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 4rem; /* Adjust font size */
        padding-top: 0;
        text-align: center;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: 3vh;
    }

    #bigtext {
        padding-bottom: -10vh;

    }


    #hauttyp {
        font-size: 3rem;

    }

    #wegetext {

        font-size: 3rem;
    }

    #sunbernverhindern {

        padding-bottom: 0;
        padding-top: 60vh;
    }


    #sunbernverhindern-text {

        padding-bottom: 0;
        
    }

    #sunbernverhindern-text h3 {

        font-size: 3rem;
        
    }

    #sunbernverhindern-text p {

        font-size: 1.5rem;
        
    }


    .map-point_point-3 {
        top: 75%;
        left: 45%;
        transform: translate(-50%, -50%); 
    }

    .map-point_point-4 {
        top: 103%;
        left: 43%;
        transform: translate(-50%, -50%); 
    }


    #map-container {
        width: 80%;
        height: auto;
        margin: auto;
    }

    .map-point img {
        width: 35px; /* Adjust image sizes */
        height: 35px;
    }

    .slider-container {
        width: 100%;
        padding-top: 0;
        padding-bottom: 10vh;
    }

    .slider {
        width: 80%;
        height: 45px; /* Slightly larger for tablets */


    }

    #mySlider {
        padding-left: 10vh;        /* Optional: Padding innen */
        padding-right: 10vh;       /* Optional: Padding innen */

    }


    .label {
        font-size: 1rem; /* Reduce label size */
        padding-right: 1vh;
        padding-left: 1vh;
    }


    .divider {
        width: 10px; /* Adjust divider width */


    }

    .labels {
        margin-left: 1vh;
        margin-right: 1vh;
    }


    #calculateBtn {
        font-size: 22px; /* Slightly larger for tablets */
        padding: 12px;
        margin: 0 auto;
    }

    #resultatcreme img {
        max-width: 80vw;
        max-height: 70vh;
    }

    #cremeSPF {
        font-size: 3.5rem;
        padding: 0 15px;
        padding-bottom: 12vh;
    }


    #spfverstehen {
        padding-bottom: 0;



    }

    #spfverstehen h3 {

        font-size: 3rem;


    }

    #spfverstehen p {

        font-size: 1.5rem;


    }

    .spacer {
        height: 10vh;
    }



}
